<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.zywx.wbpalmstar.widgetone.uexGPUImage"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">
    <application>

        <activity
            android:name="org.zywx.wbpalmstar.engine.LoadingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/browser_loading_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.zywx.wbpalmstar.plugin.uexgpuimage.ImageFilterActivity"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        </activity>
    </application>

</manifest>